@import url("./reset.css");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 12px;
  --white: #fff;
  --dark-text: #27292f;
  --light-text: #7e8289;
  --theme: #f4f5f8;
  --border-color: #e2e3e8;
  --shadow: 1px 1px 6px rgba(200, 203, 204, 0.2);
  --border: 1px solid var(--border-color);
}
body {
  background-color: var(--theme);
  color: var(--dark-text);
  line-height: 1.4;
}
.container {
  padding: 0 2rem;
}
.hidden {
  display: none;
}
.visible {
  display: inline-block;
}
/* Header */
.header {
  background-color: var(--white);
  padding: 1rem 0;
  position: relative;
  box-shadow: var(--shadow);
}
.header button {
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--light-text);
  background-color: var(--white);
  border: var(--border);
  border-radius: 4px;
  box-shadow: var(--shadow);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header button span {
  margin: 0 0.3rem;
}

/* Filter Options */
.filter-card {
  border: var(--border);
  position: absolute;
  padding: 0.2rem 1rem;
  background-color: var(--theme);
  left: 2rem;
  top: 90%;
  border-radius: 4px;
  box-shadow: 1px 6px 10px rgba(164, 166, 167, 0.2);
  z-index: 10;
}
.filter-card label {
  color: var(--light-text);
  font-weight: 500;
  display: inline-block;
  width: 8rem;
}
.filter-option {
  margin: 0.5rem 0;
}
.filter-option select {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  border: var(--border);
  font-weight: 500;
  /* color: var(--dark-text); */
}

/* Ticket Cards */
.ticket-wrapper {
  padding: 1.5rem 0;
}

.ticket-card-list {
  margin-top: 1.5rem;
}

.ticket-card {
  border: var(--border);
  padding: 1rem;
  box-shadow: var(--shadow);
  border-radius: 4px;
  margin: 16px 0;
  background-color: var(--white);
}
.ticket-card header {
  display: flex;
  justify-content: space-between;
}
.ticket-card-id {
  color: var(--light-text);
  font-size: 0.8rem;
}
.ticket-card-title {
  color: var(--dark-text);
  font-weight: 500;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
.ticket-card-footer {
  margin-top: 1rem;
  color: var(--light-text);
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #c0c2c5;
  font-size: 0.7rem;
}
.ticket-card-tag {
  font-size: 0.8rem;
  margin-left: 0.4rem;
}
.user-icon {
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #878600;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.user-icon .ticket-card-tag-icon {
  position: absolute;
  left: 65%;
  top: 65%;
  border: 2px solid #fff;
  border-radius: 50%;
  color: var(--light-text);
}

/* Group Header */
.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-text);
}
.group-header h2 {
  color: var(--dark-text);
  /* margin-left: 0.3rem; */
  font-size: 0.8rem;
  font-weight: 600;
}
.group-header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.group-header div span {
  line-height: 0;
}
.group-icon {
  font-size: 0.8rem;
}
.icon-todo {
  color: #d4d3d3;
  font-weight: 700;
}
.icon-in-progress {
  color: #f1ca4d;
}
.icon-backlog,
.icon-urgent {
  color: #fc7942;
}
@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
  .group-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 32px;
    justify-content: space-between;
  }
}
