@import url("./reset.css");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 12px;
  --white: #fff;
  --dark-text: #27292f;
  --light-text: #656971;
  --theme: #f4f5f8;
  --border-color: #bcc0cf;
  --shadow: 1px 4px 8px rgba(134, 137, 140, 0.2);
  --border: 1px solid var(--border-color);
}
body {
  background-color: var(--theme);
  color: var(--dark-text);
}
.container {
  padding: 0 2rem;
}
.hidden {
  display: none;
}
.visible {
  display: inline-block;
}
/* Header */
.header {
  background-color: var(--white);
  padding: 1rem 0;
  position: relative;
}
.header button {
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--light-text);
  background-color: var(--white);
  border: var(--border);
  border-radius: 4px;
  box-shadow: var(--shadow);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header button span {
  margin: 0 0.3rem;
}
.filter-card {
  border: var(--border);
  position: absolute;
  padding: 0.2rem 1rem;
  background-color: var(--theme);
  left: 2rem;
  top: 90%;
  border-radius: 4px;
  box-shadow: var(--shadow);
}
.filter-card label {
  color: var(--light-text);
  font-weight: 500;
  display: inline-block;
  width: 8rem;
}
.filter-option {
  margin: 0.5rem 0;
}
.filter-option select {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  border: var(--border);
  font-weight: 500;
  /* color: var(--dark-text); */
}
.ticket-wrapper {
  padding: 1rem 0;
}

.ticket-card {
  border: var(--border);
  padding: 1rem;
  box-shadow: var(--shadow);
  border-radius: 4px;
  margin: 16px 0;
  background-color: var(--white);
}
.ticket-card header {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
  .group-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 32px;
    justify-content: space-between;
  }
}
